.footer__global {
  .footer__up {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #c00952;
    color: #ffffff;

    .footer__up-left {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      @media (max-width: 1080px) {
        height: auto;
      }
    }

    .footer__up-right {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 1080px) {
        height: auto;
      }
    }
  }

  .footer__bottom {
    width: 100%;

    background-color: #f08cb4;
    color: #ffffff;
  }
}
