.header__global {
  .header__up {
    width: 100%;

    padding-left: 30px;
    padding-right: 30px;
    background-color: #c00952;
    color: #ffffff;
    height: 110px;

    .dropdown-menu {
      z-index: 9999 !important;
    }

    .dropdown-toggle::after {
      display: none;
    }
    .nav-link {
      color: #ffffff;
    }
    .nav-link:hover {
      color: #000;
    }
    .header__up-left {
      height: 106px;
      display: flex;
      align-items: center;
      justify-content: start;

      @media (max-width: 1080px) {
        height: auto;
        text-align: center;
        justify-content: center;
      }
    }

    .header__up-right {
      height: 106px;
      display: flex;
      align-items: center;
      justify-content: end;

      @media (max-width: 1080px) {
        height: auto;
        text-align: center;
        justify-content: center;
      }
    }
  }

  .header__bottom {
    width: 100%;

    background-color: #f08cb4;
    color: #ffffff;
  }

  .center-nav {
    margin-top: 8px;

    a.links {
      cursor: pointer;
      color: #ffffff;
      text-decoration: none;
    }

    a.links:hover {
      color: #000;
      text-decoration: none;
    }
  }
}
